---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Lame todoot"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=d94f9f51-a135-4dd7-8af3-35cab606f933
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/8b2c25a9-718e-4781-ac42-dbcbcba36540
    body:
      encoding: UTF-8
      string: '{"name":"Lame todoot","src":"http://todoable.teachable.tech/api/lists/8b2c25a9-718e-4781-ac42-dbcbcba36540","id":"8b2c25a9-718e-4781-ac42-dbcbcba36540"}'
  recorded_at: Fri, 17 Aug 2018 16:43:39 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/8b2c25a9-718e-4781-ac42-dbcbcba36540
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=d94f9f51-a135-4dd7-8af3-35cab606f933
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Aug 2018 16:43:40 GMT
recorded_with: VCR 4.0.0
