---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YnJpdG5pYWxleGFuZGVyQGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"42c78d7a-29b6-4fee-825e-674d20fac12c","expires_at":"2018-08-17T03:34:29.844Z"}'
  recorded_at: Fri, 17 Aug 2018 03:14:29 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Lame list"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=42c78d7a-29b6-4fee-825e-674d20fac12c
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/7568b236-6bf1-463a-9ddb-bf910b9ecc26
    body:
      encoding: UTF-8
      string: '{"name":"Lame list","src":"http://todoable.teachable.tech/api/lists/7568b236-6bf1-463a-9ddb-bf910b9ecc26","id":"7568b236-6bf1-463a-9ddb-bf910b9ecc26"}'
  recorded_at: Fri, 17 Aug 2018 03:14:29 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/7568b236-6bf1-463a-9ddb-bf910b9ecc26
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=42c78d7a-29b6-4fee-825e-674d20fac12c
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Aug 2018 03:14:30 GMT
recorded_with: VCR 4.0.0
