---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Lame todootle doot"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=5977b424-ec49-43a4-a5db-6f2d1c09a0bc
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321/items/2eaafa3d-f4e4-432f-a67d-7f9784777e64
    body:
      encoding: UTF-8
      string: '{"name":"Lame todootle doot","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321/items/2eaafa3d-f4e4-432f-a67d-7f9784777e64","id":"2eaafa3d-f4e4-432f-a67d-7f9784777e64"}'
  recorded_at: Fri, 17 Aug 2018 17:42:38 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321/items/2eaafa3d-f4e4-432f-a67d-7f9784777e64
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=5977b424-ec49-43a4-a5db-6f2d1c09a0bc
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Aug 2018 17:43:10 GMT
recorded_with: VCR 4.0.0
