---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/5e147139-fead-42c5-a3a0-ace6af539594/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Lame todootle doot"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=f24ee8aa-eb1b-4ad8-b5fd-d28f5036f2ee
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/5e147139-fead-42c5-a3a0-ace6af539594/items/53ae9165-a066-4f81-8ef3-57a9c2fadf32
    body:
      encoding: UTF-8
      string: '{"name":"Lame todootle doot","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/5e147139-fead-42c5-a3a0-ace6af539594/items/53ae9165-a066-4f81-8ef3-57a9c2fadf32","id":"53ae9165-a066-4f81-8ef3-57a9c2fadf32"}'
  recorded_at: Fri, 17 Aug 2018 15:33:31 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/5e147139-fead-42c5-a3a0-ace6af539594/items/53ae9165-a066-4f81-8ef3-57a9c2fadf32
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=f24ee8aa-eb1b-4ad8-b5fd-d28f5036f2ee
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Aug 2018 15:33:31 GMT
recorded_with: VCR 4.0.0
