---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Lame todootle doo"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=8a6375b1-501b-475c-ac5d-54f77f5b166a
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd/items/21f056e8-45d5-44b4-9471-7f77598aad73
    body:
      encoding: UTF-8
      string: '{"name":"Lame todootle doo","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd/items/21f056e8-45d5-44b4-9471-7f77598aad73","id":"21f056e8-45d5-44b4-9471-7f77598aad73"}'
  recorded_at: Fri, 17 Aug 2018 14:54:12 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd/items/21f056e8-45d5-44b4-9471-7f77598aad73
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=8a6375b1-501b-475c-ac5d-54f77f5b166a
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Aug 2018 14:54:12 GMT
recorded_with: VCR 4.0.0
