---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/45ad03cf-6c7b-47af-88d4-c6165c9f9422/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Lame todoot item"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=a0de8b7f-d81c-488a-b07a-db821347ebbb
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/45ad03cf-6c7b-47af-88d4-c6165c9f9422/items/024f982e-940f-48e6-b781-829ea9440758
    body:
      encoding: UTF-8
      string: '{"name":"Lame todoot item","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/45ad03cf-6c7b-47af-88d4-c6165c9f9422/items/024f982e-940f-48e6-b781-829ea9440758","id":"024f982e-940f-48e6-b781-829ea9440758"}'
  recorded_at: Fri, 17 Aug 2018 03:58:26 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/45ad03cf-6c7b-47af-88d4-c6165c9f9422/items/024f982e-940f-48e6-b781-829ea9440758
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=a0de8b7f-d81c-488a-b07a-db821347ebbb
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Aug 2018 03:58:26 GMT
recorded_with: VCR 4.0.0
