---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/5e147139-fead-42c5-a3a0-ace6af539594/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Lame todootle doot"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=f24ee8aa-eb1b-4ad8-b5fd-d28f5036f2ee
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/5e147139-fead-42c5-a3a0-ace6af539594/items/bc8de8ec-4006-4685-8cef-ff348dce6c33
    body:
      encoding: UTF-8
      string: '{"name":"Lame todootle doot","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/5e147139-fead-42c5-a3a0-ace6af539594/items/bc8de8ec-4006-4685-8cef-ff348dce6c33","id":"bc8de8ec-4006-4685-8cef-ff348dce6c33"}'
  recorded_at: Fri, 17 Aug 2018 15:38:13 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/5e147139-fead-42c5-a3a0-ace6af539594/items/3
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=f24ee8aa-eb1b-4ad8-b5fd-d28f5036f2ee
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Aug 2018 15:38:13 GMT
recorded_with: VCR 4.0.0
