---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YnJpdG5pYWxleGFuZGVyQGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"0c363474-f489-4fbd-84ad-1c97823c1470","expires_at":"2018-08-17T03:56:15.099Z"}'
  recorded_at: Fri, 17 Aug 2018 03:36:15 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Lame todoot"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=0c363474-f489-4fbd-84ad-1c97823c1470
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/a615aae0-360c-4506-93c9-0ea4cc5b1c01
    body:
      encoding: UTF-8
      string: '{"name":"Lame todoot","src":"http://todoable.teachable.tech/api/lists/a615aae0-360c-4506-93c9-0ea4cc5b1c01","id":"a615aae0-360c-4506-93c9-0ea4cc5b1c01"}'
  recorded_at: Fri, 17 Aug 2018 03:36:15 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/a615aae0-360c-4506-93c9-0ea4cc5b1c01
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=0c363474-f489-4fbd-84ad-1c97823c1470
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Aug 2018 03:36:15 GMT
recorded_with: VCR 4.0.0
