---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Doot Doodlety Doot"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=67be8c4c-f63d-4e6b-93b3-d79de03a3cd8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/f15b9ab0-52aa-4c9d-b5d3-0270d3fba0a4
    body:
      encoding: UTF-8
      string: '{"name":"Doot Doodlety Doot","src":"http://todoable.teachable.tech/api/lists/f15b9ab0-52aa-4c9d-b5d3-0270d3fba0a4","id":"f15b9ab0-52aa-4c9d-b5d3-0270d3fba0a4"}'
  recorded_at: Fri, 17 Aug 2018 17:18:10 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/f15b9ab0-52aa-4c9d-b5d3-0270d3fba0a4
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=67be8c4c-f63d-4e6b-93b3-d79de03a3cd8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Doot Doodlety Doot","items":[]}'
  recorded_at: Fri, 17 Aug 2018 17:18:10 GMT
recorded_with: VCR 4.0.0
