---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YnJpdG5pYWxleGFuZGVyQGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"e32f9130-66aa-451e-b505-754de1ba611c","expires_at":"2018-08-17T03:15:53.355Z"}'
  recorded_at: Fri, 17 Aug 2018 02:55:53 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"My great list"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=e32f9130-66aa-451e-b505-754de1ba611c
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/c95cc4f6-0766-4f48-89dd-9d9c9b53f854
    body:
      encoding: UTF-8
      string: '{"name":"My great list","src":"http://todoable.teachable.tech/api/lists/c95cc4f6-0766-4f48-89dd-9d9c9b53f854","id":"c95cc4f6-0766-4f48-89dd-9d9c9b53f854"}'
  recorded_at: Fri, 17 Aug 2018 02:55:53 GMT
recorded_with: VCR 4.0.0
