---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YnJpdG5pYWxleGFuZGVyQGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"168ba7f0-dfd5-4380-8f83-22137f703f12","expires_at":"2018-08-17T03:20:52.945Z"}'
  recorded_at: Fri, 17 Aug 2018 03:00:52 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome list"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=168ba7f0-dfd5-4380-8f83-22137f703f12
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/7ae20508-37a6-4ba4-a73c-c657e0a59020
    body:
      encoding: UTF-8
      string: '{"name":"Awesome list","src":"http://todoable.teachable.tech/api/lists/7ae20508-37a6-4ba4-a73c-c657e0a59020","id":"7ae20508-37a6-4ba4-a73c-c657e0a59020"}'
  recorded_at: Fri, 17 Aug 2018 03:00:53 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/7ae20508-37a6-4ba4-a73c-c657e0a59020
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=168ba7f0-dfd5-4380-8f83-22137f703f12
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Awesome list","items":[]}'
  recorded_at: Fri, 17 Aug 2018 03:01:54 GMT
recorded_with: VCR 4.0.0
