---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YnJpdG5pYWxleGFuZGVyQGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"51332cfa-d511-4376-84ec-2e25bc3e9ab7","expires_at":"2018-08-17T03:55:29.923Z"}'
  recorded_at: Fri, 17 Aug 2018 03:35:29 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Doot Doot"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=51332cfa-d511-4376-84ec-2e25bc3e9ab7
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/5ec87ad9-6517-4c04-aaea-95753669f4ae
    body:
      encoding: UTF-8
      string: '{"name":"Doot Doot","src":"http://todoable.teachable.tech/api/lists/5ec87ad9-6517-4c04-aaea-95753669f4ae","id":"5ec87ad9-6517-4c04-aaea-95753669f4ae"}'
  recorded_at: Fri, 17 Aug 2018 03:35:30 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/5ec87ad9-6517-4c04-aaea-95753669f4ae
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=51332cfa-d511-4376-84ec-2e25bc3e9ab7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Doot Doot","items":[]}'
  recorded_at: Fri, 17 Aug 2018 03:35:30 GMT
recorded_with: VCR 4.0.0
