---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YnJpdG5pYWxleGFuZGVyQGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"8a6375b1-501b-475c-ac5d-54f77f5b166a","expires_at":"2018-08-17T15:14:12.117Z"}'
  recorded_at: Fri, 17 Aug 2018 14:54:12 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"List with new items in it"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=8a6375b1-501b-475c-ac5d-54f77f5b166a
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd
    body:
      encoding: UTF-8
      string: '{"name":"List with new items in it","src":"http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd","id":"fb09742f-428a-47ac-b0e5-4bebec215fbd"}'
  recorded_at: Fri, 17 Aug 2018 14:54:12 GMT
recorded_with: VCR 4.0.0
