---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Workout"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=8a6375b1-501b-475c-ac5d-54f77f5b166a
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd/items/34d81462-91a7-4397-b848-46c743bf56ff
    body:
      encoding: UTF-8
      string: '{"name":"Workout","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd/items/34d81462-91a7-4397-b848-46c743bf56ff","id":"34d81462-91a7-4397-b848-46c743bf56ff"}'
  recorded_at: Fri, 17 Aug 2018 14:54:12 GMT
recorded_with: VCR 4.0.0
