---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Workoutz"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=5977b424-ec49-43a4-a5db-6f2d1c09a0bc
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321/items/68f3591e-3eb0-4ddf-a6ec-07b4b7dec325
    body:
      encoding: UTF-8
      string: '{"name":"Workoutz","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321/items/68f3591e-3eb0-4ddf-a6ec-07b4b7dec325","id":"68f3591e-3eb0-4ddf-a6ec-07b4b7dec325"}'
  recorded_at: Fri, 17 Aug 2018 17:45:17 GMT
recorded_with: VCR 4.0.0
