---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Woohoo, a list"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=d94f9f51-a135-4dd7-8af3-35cab606f933
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/52a9ea45-a528-4953-9953-ffd6a9c5a7bc
    body:
      encoding: UTF-8
      string: '{"name":"Woohoo, a list","src":"http://todoable.teachable.tech/api/lists/52a9ea45-a528-4953-9953-ffd6a9c5a7bc","id":"52a9ea45-a528-4953-9953-ffd6a9c5a7bc"}'
  recorded_at: Fri, 17 Aug 2018 16:43:39 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Woohoo, a list"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=d94f9f51-a135-4dd7-8af3-35cab606f933
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":["has already been taken"]}'
  recorded_at: Fri, 17 Aug 2018 16:43:39 GMT
recorded_with: VCR 4.0.0
