---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Call mom"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=8a6375b1-501b-475c-ac5d-54f77f5b166a
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd/items/0c5ac787-0891-4f9c-8265-a15c82f709c1
    body:
      encoding: UTF-8
      string: '{"name":"Call mom","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd/items/0c5ac787-0891-4f9c-8265-a15c82f709c1","id":"0c5ac787-0891-4f9c-8265-a15c82f709c1"}'
  recorded_at: Fri, 17 Aug 2018 14:54:12 GMT
- request:
    method: put
    uri: http://todoable.teachable.tech/api/lists/fb09742f-428a-47ac-b0e5-4bebec215fbd/items/0c5ac787-0891-4f9c-8265-a15c82f709c1/finish
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=8a6375b1-501b-475c-ac5d-54f77f5b166a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: Call mom finished
  recorded_at: Fri, 17 Aug 2018 14:54:12 GMT
recorded_with: VCR 4.0.0
