---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Call pop"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=5977b424-ec49-43a4-a5db-6f2d1c09a0bc
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321/items/36affb52-4b0e-4d60-90cb-c9b481393c7f
    body:
      encoding: UTF-8
      string: '{"name":"Call pop","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321/items/36affb52-4b0e-4d60-90cb-c9b481393c7f","id":"36affb52-4b0e-4d60-90cb-c9b481393c7f"}'
  recorded_at: Fri, 17 Aug 2018 17:45:53 GMT
- request:
    method: put
    uri: http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321/items/36affb52-4b0e-4d60-90cb-c9b481393c7f/finish
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=5977b424-ec49-43a4-a5db-6f2d1c09a0bc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: Call pop finished
  recorded_at: Fri, 17 Aug 2018 17:45:53 GMT
- request:
    method: put
    uri: http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321/items/36affb52-4b0e-4d60-90cb-c9b481393c7f/finish
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=5977b424-ec49-43a4-a5db-6f2d1c09a0bc
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Aug 2018 17:45:53 GMT
recorded_with: VCR 4.0.0
