---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Sample list"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=5977b424-ec49-43a4-a5db-6f2d1c09a0bc
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321
    body:
      encoding: UTF-8
      string: '{"name":"Sample list","src":"http://todoable.teachable.tech/api/lists/5a3cecfc-cb0c-4d98-9aa9-e16764c01321","id":"5a3cecfc-cb0c-4d98-9aa9-e16764c01321"}'
  recorded_at: Fri, 17 Aug 2018 17:29:56 GMT
recorded_with: VCR 4.0.0
