---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"List with new item"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=f24ee8aa-eb1b-4ad8-b5fd-d28f5036f2ee
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/5e147139-fead-42c5-a3a0-ace6af539594
    body:
      encoding: UTF-8
      string: '{"name":"List with new item","src":"http://todoable.teachable.tech/api/lists/5e147139-fead-42c5-a3a0-ace6af539594","id":"5e147139-fead-42c5-a3a0-ace6af539594"}'
  recorded_at: Fri, 17 Aug 2018 15:29:41 GMT
recorded_with: VCR 4.0.0
