---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Neato torpedoz"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=67be8c4c-f63d-4e6b-93b3-d79de03a3cd8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/ea242029-62d4-49e1-9052-bb58808b62a8
    body:
      encoding: UTF-8
      string: '{"name":"Neato torpedoz","src":"http://todoable.teachable.tech/api/lists/ea242029-62d4-49e1-9052-bb58808b62a8","id":"ea242029-62d4-49e1-9052-bb58808b62a8"}'
  recorded_at: Fri, 17 Aug 2018 17:19:38 GMT
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/ea242029-62d4-49e1-9052-bb58808b62a8
    body:
      encoding: UTF-8
      string: '{"list":{"name":"No more torpedoez"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=67be8c4c-f63d-4e6b-93b3-d79de03a3cd8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: No more torpedoez updated
  recorded_at: Fri, 17 Aug 2018 17:19:38 GMT
recorded_with: VCR 4.0.0
