---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YnJpdG5pYWxleGFuZGVyQGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"9909287b-e594-41de-a4cb-a65f2b142a4c","expires_at":"2018-08-17T03:30:30.549Z"}'
  recorded_at: Fri, 17 Aug 2018 03:10:30 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Neato list"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=9909287b-e594-41de-a4cb-a65f2b142a4c
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/8a83a56d-8e33-4b7d-9574-ec3121b5d3ba
    body:
      encoding: UTF-8
      string: '{"name":"Neato list","src":"http://todoable.teachable.tech/api/lists/8a83a56d-8e33-4b7d-9574-ec3121b5d3ba","id":"8a83a56d-8e33-4b7d-9574-ec3121b5d3ba"}'
  recorded_at: Fri, 17 Aug 2018 03:10:30 GMT
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/8a83a56d-8e33-4b7d-9574-ec3121b5d3ba
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Not really a neat list"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=9909287b-e594-41de-a4cb-a65f2b142a4c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: Not really a neat list updated
  recorded_at: Fri, 17 Aug 2018 03:10:30 GMT
recorded_with: VCR 4.0.0
