---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YnJpdG5pYWxleGFuZGVyQGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"2f1714f0-dd36-4bf5-a862-caff52eefb61","expires_at":"2018-08-17T03:57:07.904Z"}'
  recorded_at: Fri, 17 Aug 2018 03:37:07 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Neat todoable"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=2f1714f0-dd36-4bf5-a862-caff52eefb61
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/ce7b0af5-e193-449a-9777-54ea7f873add
    body:
      encoding: UTF-8
      string: '{"name":"Neat todoable","src":"http://todoable.teachable.tech/api/lists/ce7b0af5-e193-449a-9777-54ea7f873add","id":"ce7b0af5-e193-449a-9777-54ea7f873add"}'
  recorded_at: Fri, 17 Aug 2018 03:37:08 GMT
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/ce7b0af5-e193-449a-9777-54ea7f873add
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Not really neat"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=2f1714f0-dd36-4bf5-a862-caff52eefb61
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: Not really neat updated
  recorded_at: Fri, 17 Aug 2018 03:37:08 GMT
recorded_with: VCR 4.0.0
