---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YnJpdG5pYWxleGFuZGVyQGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"a0de8b7f-d81c-488a-b07a-db821347ebbb","expires_at":"2018-08-17T04:09:52.245Z"}'
  recorded_at: Fri, 17 Aug 2018 03:49:52 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"List with items in it"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=a0de8b7f-d81c-488a-b07a-db821347ebbb
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/45ad03cf-6c7b-47af-88d4-c6165c9f9422
    body:
      encoding: UTF-8
      string: '{"name":"List with items in it","src":"http://todoable.teachable.tech/api/lists/45ad03cf-6c7b-47af-88d4-c6165c9f9422","id":"45ad03cf-6c7b-47af-88d4-c6165c9f9422"}'
  recorded_at: Fri, 17 Aug 2018 03:49:52 GMT
recorded_with: VCR 4.0.0
